<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="'Timeouts (' + ${name} + ')'"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="text/javascript" th:src="@{/dojo/dojo.js.uncompressed.js}"/>
		<script type="text/javascript" th:src="@{/cloudfoundry/dojo-xhr-timeout-shim.js}" th:if="${useshim}"/>
	</head>
	<body>
		<script type="text/javascript">
			dojo.require('dojox.timing');

			var clockcounter = 0;
			var timer = new dojox.timing.Timer(1000);
			timer.onTick = function() {
				clockcounter++;
				dojo.byId("counter").innerHTML = clockcounter;
			}

			function ajaxButtonClick(requestUrl) {

				dojo.byId("go").disabled = true;
				timer.start();

				var deferred = dojo.xhrPost({
					url : requestUrl,
					handle : function(result, ioargs) {
						timer.stop();
						dojo.byId("counter").innerHTML = "";
						dojo.byId("go").disabled = false;
					},
					load : function(result) {
						dojo.byId("text").innerHTML += "\nResult : " + result;
					},
					error : function(result,ioargs) {
						dojo.byId("text").innerHTML += "\nError : " + result + " " + ioargs.xhr.status;
					}
				});

				deferred.then(
			        function(result){
						dojo.byId("text").innerHTML += "\nDeferred Result : " + result;
			        },
			        function(result){
						dojo.byId("text").innerHTML += "\nDeferred Error : " + result;
			        }
			    );
			}
		</script>
		<h1 th:text="'Timeouts (' + ${name} + ')'"/>
		<div>
			<input id="go" type="button" value="Go" th:onclick="'ajaxButtonClick(\&apos;' + ${ajaxcall} + '\&apos;)'"/>
			<span id="counter"/>
		</div>
		<div>
			<textarea id="text" rows="10" cols="80"/>
		</div>
	</body>
</html>
